.userlist-container {
    flex: 4;
}

.userList-user{
    display: flex;
    align-items: center;
}

.userList-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userList-edit-button {
   border: none;
   border-radius: 10px;
   padding: 5px 10px;
   background-color:#3bb077 ; 
   cursor: pointer;
   color: white;
   margin-right: 10px;
}

.userList-action {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userList-delete-button{
    font-size: 1.5rem !important;
    color: red !important;
}

