.newProduct-container{
    flex: 4;
}

.newProduct-form {
    margin-top: 10px;
}

.add-newProduct-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.add-newProduct-item >label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-newProduct-item > input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.add-newProduct-item > input:focus {
    outline: none;
}

.add-newProduct-item > select {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.add-newProduct-item-button {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color:white;
    font-weight: 600;
    cursor: pointer;
}