.product-container {
    flex:4 ;
    padding: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
}

.product-add-button {
 width: 80px;
 border: none;
 padding: 5px;
 background-color: teal;
 color: white;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
}

.product-top {
    display: flex; 
}

.product-top-left, .product-top-right{
        flex: 1;
}

.product-top-right{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
}

.product-info-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.product-info-top {
    display: flex;
    align-items: center;
}

.product-name {
    font-weight: 600;
}

.product-info-bottom {
    margin-top: 10px;
}

.product-info-item{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.product-info-value {
    font-weight: 300;
}

.product-bottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
}