.newUser-container {
    flex: 4;
    margin-left: 10px;
}

.newUser-form {
    display: flex;
    flex-wrap: wrap;
}

.newUser-item {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;
}

.newUser-item>label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.newUser-item>input {
    height: 20px;
    padding: 10px;
    /* border: none; */
    border-radius: 8px;
    border: 1px solid gray;

}
.newUser-item>input:focus {
    outline: none;
}

.newUser-genders-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.newUser-genders-container>label {
    margin-right: 20px;
}

.newUser-select {
    height: 40px;
    border-radius: 8px;
}

.newUser-button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: teal;
    color: white;
    padding:10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}


@media screen and (min-width: 1588px) {
    .newUser-button{
        margin-top: 28px;
    }
}